<html>
    <head>
        <link href="/css/Home.css" rel="stylesheet" type="text/css">
    </head>
    <body style="background-color:2f4f4f">
        <Header>COMPANY WORK</Header>
    <div class='login'>
        <form action="/signin" method="post">
            <input type="text" placeholder="Username" name="username"/><br/>
            <input type="password" placeholder="Password" name="password"/><br/>
            <input type="text" placeholder="Location" name="location"/><br/>
            <input type="text" placeholder="Ip Address" name="ip"/><br/>
            <input type="submit" value="Login"/>
        </form>
    </div>
    </body>
</html>
